<turbo-stream action="append" target="error{{ id }}">
    <template>

            <div class="alert alert-success" role="alert">
              <p>{{ "your raise is validated"|trans }} {{ raiseprice }}</p>
            </div>

    </template>
</turbo-stream>

