<turbo-stream action="append" target="error{{ id }}">
    <template>

            <div class="alert alert-success" role="alert">
              <p>Votre enchere a bien été prise en compte {{ raiseprice }}</p>
            </div>

    </template>
</turbo-stream>

