{% extends 'base.html.twig' %}

{% block title %}Auctio Controller!{% endblock %}



{% block body %}



    <h1>Enchere en ligne</h1>
    {{ "hello"|trans }}
    <h2>description</h2>

    <div id="auctions" {{ turbo_stream_listen('App\\Entity\\Auction') }}>

                <table class="table">
                    <thead>
                    <tr>
                        <th id="au">description</th>

                        <th>{{ "name"|trans  }}</th>
                        <th>description</th>
                        <th>prix</th>
                        <th>date</th>
                        <th>image</th>
                        <th>status</th>
                        <th>actions</th>

                    </tr>
                    </thead>
                    <tbody id="table">

                    {% for auction in auctions %}
                          {%  include "auction/auction.html.twig" with {'auction' : auction} %}

                    {% endfor %}
                    </tbody>
                </table>

                <form>
                        <a href="{{ path('test2') }}" data-turbo-stream="true" class="btn btn-success btn-lg">Redirection</a>
                </form>

    </div>


{% endblock %}
